<script setup lang="ts">
import MessageList from '@/components/MessageList.vue';
import MessageBox from '@/components/MessageBox.vue';
import { ref } from 'vue';
import { nextTick } from 'vue';
const messages = ref<string[]>([])
const messageList = ref<typeof MessageList | null>(null)
const answers = ['สวัสดี','ไปไหนมา','กินข้าวอะยัง','ไม่คุยด้วยแล้ว']
function send(message: string){
  messages.value.push(message)
  answerWithComputer()
}
function answerWithComputer() {
  const ranAns = Math.floor(Math.random() * 10000) % answers.length
  const answer = answers[ranAns]
  messages.value.push(answer)
  nextTick(()=>{
    messageList.value?.updateUI()
  })
}

</script>

<template>
  <div>
    <MessageList ref="messageList" :messages="messages"></MessageList>
    <MessageBox @send="send"></MessageBox>
  </div>
</template>
